@model IEnumerable<UCVSWP.Models.File>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-image: url('/images/files.jpg');background-size:cover;">
	<h1>Fisiere incarcate de studenti</h1>

	<p>
		<a asp-action="Create">Create New</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Attachment)
				</th>
				<th>
					Assignment
				</th>
				<th>
					User
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.FileName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Assignment.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.User.UserName)
					</td>
					<td>
						<a asp-action="Download" asp-route-id="@item.ID">View</a>
						<a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</body>

