@model UCVSWP.Models.Assignment

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-image: url('/images/files.jpg');background-size:cover;">
	<h1>Details</h1>
	<div>
		<h4>Assignment</h4>
		<hr />
		<dl class="row">
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Name)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Name)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Content)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Content)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Deadline)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Deadline)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Classroom)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Classroom.Name)
			</dd>
		</dl>
		<button onclick="location.href='@Url.Action("Create", "Files")'" id="upload-file" class="btn btn-primary mt-2">Add file</button>
		<button onclick="location.href='@Url.Action("Index", "Files")'" id="view-file" class="btn btn-primary mt-2">View file</button>
	</div>
</body>

