@model IEnumerable<UCVSWP.Models.Assignment>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-image: url('/images/files.jpg');background-size:cover;">
	<h1>Create assignment</h1>

	<p>
		<a asp-action="Create">Create New</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Content)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Deadline)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Classroom)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Content)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Deadline)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Classroom.Name)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.AssignmentID">Edit</a> |
						<a asp-action="Details" asp-route-id="@item.AssignmentID">Details</a> |
						<a asp-action="Delete" asp-route-id="@item.AssignmentID">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</body>
