@model IEnumerable<UCVSWP.Models.Announcement>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create announcement</h1>
<body style="background-color:cornflowerblue">
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classroom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classroom.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnnouncementID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AnnouncementID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnnouncementID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>